<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{tableName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kalan Siparişler</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--Burada forla döneceğiz-->
      <ion-row *ngFor=" let porder of orderList" (click)="addToPay(porder)">
        <ion-col size="6">{{porder.mealName}}</ion-col>
        <ion-col size="3">{{porder.mealQuantity}} adet</ion-col>
        <ion-col size="3">{{porder.mealPrice}} TL</ion-col>
      </ion-row>
      <div class="kalan">
        <ion-card-title> Ödemesi Alınacaklar:</ion-card-title>

        <ion-row
          *ngFor="let meals of mealsToPay "
          (click)="removeFromPay(meals)"
        >
          <ion-col size="6">{{meals.mealName}}</ion-col>
          <ion-col size="3">{{meals.mealQuantity}} adet</ion-col>
          <ion-col size="3">{{meals.mealPrice}} TL</ion-col>
        </ion-row>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full"> Ödemeyi Onayla </ion-button>
</ion-content>
