ion-button{
  color: white !important;
  font-weight: bold !important;
}
ion-card {
  ion-card-title {
    font-size: 1.5rem;
    color: black;
  }
  background: #fefded;
  border-radius: 8%;
  width: 90%;
  ion-card-content {
    padding: 20px;
    font-size: 1rem;
    color: black;
  }
}

.total {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  margin-right: 0px;
  margin-left: auto;
  margin-top: 1rem;
}

.g{
  color:black!important
}
