<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sipariş Detayı</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src = "../../assets/past-orders.png"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{selectedOrder.restaurantName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>{{selectedOrder.date}}</ion-label>
      <ion-grid>
        <ion-item *ngFor="let meal of selectedOrder.orderedMeals">
          {{meal.mealName}}: {{meal.mealCount}} Adet / {{meal.mealPrice}} TL
        </ion-item>
      </ion-grid>
      <ion-label>TOPLAM: {{selectedOrder.totalPrice}} TL</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
