<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>

      <ion-item
        ><ion-label (click)="openMenu()"> Menüyü Aç</ion-label>
      </ion-item>

      <ion-item> Menü Özeti </ion-item>
      <ion-item button (click)="apply({})">
        <ion-label>Onayla</ion-label>
      </ion-item>
      <ion-item button (click)="cancel()">
        <ion-label>İptal Et</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<app-menu *ngIf="showMenu">
  [addCart]="true"
</app-menu>
<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      min="{{ minDateTime }}"
      minuteValues="0,15,30,45"
      id="datetime"
    ></ion-datetime>
  </ng-template>
</ion-modal>
