<app-menu *ngIf="showMenu"> [addCart]="true" </app-menu>
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
      </ion-item>

      <ion-item
        ><ion-label (click)="openMenu()"> Menüyü Aç</ion-label>
      </ion-item>

      <ion-item detail="true"> Menü Özeti </ion-item>
      <ion-grid>
        <ion-item
          *ngFor="let order of menuOrderList"
          (click)="removeFood(order)"
        >
          {{ order.mealName }} - {{ order.mealPrice }} /
          {{ order.mealCount }}
        </ion-item>
      </ion-grid>
      <ion-item button (click)="apply()">
        <!--buraya bakılacak-->
        <ion-label>Onayla</ion-label>
      </ion-item>
      <ion-item button (click)="cancel()">
        <ion-label>İptal Et</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      min="{{ minDateTime }}"
      minuteValues="0,15,30,45"
      id="datetime"
    ></ion-datetime>
  </ng-template>
</ion-modal>
