ion-item {
  color: black;
}

ion-row {
  background-color: #fefded;
  font-size: 16px;
  color: black;
  padding: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.order {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

ion-list {
  background-color: #fefded;
}

.total{
  margin-right: 0px;
  margin-left: auto;
}
