<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/logo.png"></ion-img>
  <div class="cart">
    <ion-card>
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="E-Mail" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Şifre</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="login()" color="primary">Giriş Yap</ion-button>
    </ion-card>
  </div>
</ion-content>
