<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Surname</ion-label>
        <ion-input type="text" [(ngModel)]="surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthday</ion-label>
        <ion-input type="date" [(ngModel)]="birthday"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="passowrd"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" [(ngModel)]="e_mail"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="signUp()">Sign Up</ion-button>
    </ion-list>
  </ion-header>
</ion-content>
