.card-form {
  margin: 1.5rem;
  background-color: #5d9c59;
  padding: 1rem;
  height: max-content;
}

.card-details {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

.card-content {
  margin-top: 1rem;
}

.date {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.cvv {
  max-width: 60px;
  min-width: 50px;
  margin-left: 40px;
}

ion-label {
  font-weight: 600;
  margin-left: 1rem;

}

ion-input {
  margin-top: 0.3rem;
  color:black!important;
  padding-left: 20px!important;
  font-size: 20px;
}

ion-button{
  color: white;
  font-weight: 800;
}
