<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kartlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/kartlar.png"></ion-img>
  <ion-list>
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($event)"
    >
      <ion-item *ngFor="let card of cardList">
        <ion-icon name="card" slot="start"></ion-icon>
        <ion-label>{{ card.cardNo }}</ion-label>
        <ion-icon
          name="trash"
          slot="end"
          (click)="onDeleleAlert(card)"
        ></ion-icon>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-button expand="full" (click)="navigateCardPage()">Kart Ekle</ion-button>
</ion-content>
