<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      ><ion-icon name="card" slot="start"></ion-icon
      ><ion-label> İş Bankası **90</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon name="card" slot="start"></ion-icon
      ><ion-label> İş Bankası **90</ion-label>
    </ion-item>
    <ion-item
      ><ion-icon name="card" slot="start"></ion-icon
      ><ion-label> İş Bankası **90</ion-label>
    </ion-item>
  </ion-list>
  <ion-button expand="full">Kart Ekle</ion-button>
</ion-content>
