<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedRestaurant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Masalar </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-button expand="full" style="width: 100%"> Masa 1 </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" style="width: 100%"> Masa 2 </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" style="width: 100%"> Masa 3 </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" style="width: 100%" disabled="true">
            Masa 6
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" style="width: 100%"> Masa 7 </ion-button>
        </ion-item>
        <ion-item>
          <ion-button expand="full" style="width: 100%" disabled="true">
            Masa 8
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Menü </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
