<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedRestaurant.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-menu *ngIf="!showOrderComponent" [addCart]="false"></app-menu>
  <ion-card *ngIf="!showOrderComponent">
    <ion-card-header>
      <ion-card-title> Masalar </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let table of selectedRestaurant.tableList">
        <ion-item (click)="showOrder(table)">{{table.tableName}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div *ngIf="showOrderComponent">
    <app-order
      [selectedRest]="selectedRestaurant"
      [tableNumber]="selectedTable.tableName"
      (callOrder)="orderItem($event)"
      (closeOrder)="showOrder($event)"
    ></app-order>
  </div>
</ion-content>
