<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img
  src="../../assets/hazırlama.png"
></ion-img>
<ion-img
src="../../assets/order2.png"
></ion-img>
  <ion-grid>
    <ion-card>
      <ion-card-content>
        <p>Sipariş içeriği...</p>
      </ion-card-content>
    </ion-card>

    <div class="order-detail">
      <ion-label>Siparişiniz Pişiriliyor</ion-label>
    </div>

    <ion-button expand="full">Siparişi İptal Et!</ion-button>
  </ion-grid>
</ion-content>
