<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img *ngIf="!isOrderReady" src="../../assets/hazırlama.png"></ion-img>
  <ion-img *ngIf="isOrderReady" src="../../assets/order2.png"></ion-img>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sipariş Detayı</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row *ngFor="let item of currentOrder.orderedMeals">
          <ion-col size="6">{{ item.mealName }}</ion-col>
          <ion-col size="3">{{ item.mealQuantity }} adet</ion-col>
          <ion-col size="3">{{ item.mealPrice }} TL</ion-col>
        </ion-row>
        <ion-row>
          <div class="total">Toplam {{ currentOrder.totalPrice }} TL</div>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <div class="order-detail glow" *ngIf="!isOrderReady">
      <ion-label>Siparişiniz Hazırlanıyor</ion-label>
    </div>
    <div class="order-detail" *ngIf="isOrderReady">
      <ion-label>Siparişiniz Hazır!</ion-label>
    </div>


    <ion-button
    expand="full"
    (click)="onEditOrders()"
    color="success"
    *ngIf="!isOrderReady"
    >Siparişi Düzenle</ion-button
  >

    <ion-button
      expand="full"
      (click)="onCancelOrderAlert()"
      *ngIf="!isOrderReady"
      >Siparişi İptal Et!</ion-button
    >
  </ion-grid>
</ion-content>
