<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-card>
      <ion-card-header>
        <ion-title>Burcu'nun Pastanesi</ion-title>
      </ion-card-header>
      <ion-card-content>
        <ion-img
          src="https://www.capecrystalbrands.com/cdn/shop/articles/the-latest-modernist-cooking-techniques-496899.jpg?v=1699238453"
        ></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <p>Sipariş içeriği...</p>
      </ion-card-content>
    </ion-card>

    <div class="order-detail">
      <ion-label>Siparişiniz Pişiriliyor</ion-label>
    </div>

    <ion-button expand="full">Siparişi İptal Et!</ion-button>
  </ion-grid>
</ion-content>
