ion-item {
  color: black;
}

ion-title {
  color: black;
}
ion-row {
  background-color: transparent;
}

ion-list {
  background-color: transparent;
}
.meal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
