<ion-card>
  <ion-card-header>
    <ion-card-title> Menü </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngFor="let menuType of restaurantMenu">
      <div>
        <ion-item (click)="mealClicked(menuType)"
          ><ion-title>{{ menuType.mealType }}</ion-title></ion-item
        >
        <div *ngIf="clickedMenutype === menuType.mealType">
          <ion-item (click)="test(meal)" *ngFor="let meal of menuType.meals"
            >{{ meal.mealName }} {{ meal.mealPrice }} TL</ion-item
          >
        </div>
      </div>
    </ion-list>
  </ion-card-content>
</ion-card>
