<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homeE">
  <ion-card *ngFor="let rest of restaurants" (click)="showRestaurant(rest)">
    <img src="{{rest.images}}" />
    <ion-card-title> {{rest.name}} </ion-card-title>
    <ion-card-content>

      <ion-row>
        <ion-col>
          <ion-label>
            {{rest.customerCount}} masa dolu
          </ion-label></ion-col>
        <ion-col> <ion-label >{{rest.totalCapacity}} kapasiteli </ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let feature of rest.features">
          <ion-img [src]="'../../assets/' + feature + '.png'"></ion-img>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
