<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="homeE">
  <ion-card *ngFor="let rest of restaurants" (click)="showRestaurant(rest)">
    <img src="./../../assets/rst.jpg">
    <ion-card-title> {{rest.name}} </ion-card-title>
    <ion-card-content>


      <ion-row>
        <ion-col> {{rest.customerCount}}/ {{rest.totalCapacity}} </ion-col>
        <ion-col>Park Yeri : 0</ion-col>
        <ion-col>Vegan Menü</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
