ion-content{
  --background:#DDF7E3;
}

ion-card{
  padding: 10px!important;
  --background:#DF2E38;
}

ion-card-content{
  color:white;
}
img{
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

ion-img{
  min-width: 30px!important;
  min-height: 50px!important;
  max-width: 40px!important;
}
